*{
    margin: 0;
    padding: 0;
    color :#333;
}
ul, li{ list-style: none;}
a{
    color :#333;
    text-decoration: none;
}


/* common */
.abs{
    position: absolute;
}
.rel{
    position: relative;
}

.d-flex{
     display: flex;
}
.flex-wrap{ 
    flex-wrap:wrap;
}
.jcc{
    justify-content: center;
}
.jcb{ justify-content: space-between;}


.col-12{ width: 100%;}
.ofh{ overflow: hidden;}
.h-100vh{ height: 100vh;}

.w200{  width: 200px;}
.wetc{ width: calc(100% - 200px);}

.h400{ height: 400px;}
.h250{ height: 250px;}
.h200{ height: 200px;}
.h100{ height: 100px;}
.h120{ height: 120px;}


/* D, E */
.wrap{
    /* overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-wrap: wrap; */
}


/* D-1 */
#hd{
    padding: 15px;
}
#hd h1{
    padding: 15px 0;
}
#gnb{
    padding-left: 10px;
}
#hd a:hover,
#gnb > li:hover > a{
    color:orangered;
}
#gnb > li:hover ul{
    max-height: 10rem; 
    transition: max-height 0.5s ease-in;   
}
#gnb > li > a{
    font-size: 26px;
    padding: 10px 0;
    display: block;
}
#gnb ul{
    font-size: 20px;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    transition: 0.5s;
}
#gnb ul li{
    
}
#gnb ul a{
    display: block;
    padding: 5px;

}